


.menu--social-links {
  &:after {
    content: '';
    background: url('../images/placeholder--trees.svg');
    height: 160px;
    width: 160px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}


