header.header-fixed {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index:1;
}
body .layout-container {
  padding-top: 100px;
}

.inline-children {
  & > * {
    display: inline-block;
  }
}

/**
 * Header specifics.
 */

header.header-fixed {
  /**
   * Box shadow soley for development purpose.
   */
  box-shadow: 0 0 10px $bluish;
  .region-top-menu {
    height: 30px;
    .container {
      // Centre menu vertically, visually.
      padding-top: 8px;
    }
  }

  .region-primary-menu {
    height: 70px;
    .container {
      position: relative;
      .block-system-branding-block {
        position: absolute;
        top: $spacing-small;
        // Move left to align with bootstraps .container.b
        left: $spacing-small;
        img {
          width: 122px;
          height: 50px;
        }
      }
      .menu--main {
        // Centre menu vertically, visually.
        padding-top: 28px;
      }
    }
  }

  /**
   * Searchbox in header.
   */

  .block-search {
    label {

      &:after {
        content: ' ';
        background: url('../images/placeholder.svg');
        height: 15px;
        width: 15px;
        display: inline-block;
        margin-left: $spacing-small;
      }
      // Make search "link/button/menuitem" standout.
      cursor: pointer;
      color: $bluish;
      margin-left: $spacing-large;
      &:after {
        content: '';
      }
    }
    position: relative;
    form {
      width: 100%;
      background: red;
      position: absolute;
      display: none;
    }
    // Open collapse search field.
    #search-field-expose {
      display: none;
      &:checked ~ form {
        display: block;
      }
    }

  }
}


