{#
/**
 * @file
 * Theme a exposted filter on the badge overview as a button menu.
 */
 #}

{% set classes = [
'large-button-menu',
] %}
<div class="container">
  <div{{ attributes.addClass(classes) }}>
    {% for child in children %}
      {# Gets more child-data than just the title. #}
      {% set item = attribute(element, child) %}

      <div class="
        large-button-menu--button
        {% if 'bef-link--selected' in item['#attributes']['class'] %}
          large-button-menu--button__active
        {% endif %}
      ">

      {{ attribute(element, child) }}

      </div>
    {% endfor %}
  </div>
</div>
