{#
/**
 * @file
 * Theme a exposted filter on the badge overview as a grouping menu.
 */
 #}

{{ attach_library('mungo/grouping-menu') }}
<div class="container">
  <div class="grouping-menu clearfix">
    {% for child in children %}
      {% set item = attribute(element, child) %}
      {% if 'bef-link--selected' in item['#attributes']['class'] %}
        <div class="grouping-menu__active_title">{{ item }}</div>
      {% endif %}
    {% endfor %}

    <div class="grouping-menu__menu">
      {% if children %}
        <ul class="menu menu--grouping-menu">
          {% for child in children %}
            {% set item = attribute(element, child) %}
            {% set classes = '' %}

            {% if 'bef-link--selected' in item['#attributes']['class'] %}
              {% set classes = 'menu-item--active-trail' %}
            {% endif %}

            <li class="{{ classes }}">
              {{ item }}
            </li>

          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

