<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal_core">
    <file>web/modules/custom</file>
    <file>web/themes</file>
    <arg name="extensions" value="php,module,inc,install,test,profile,theme,js,css,info,txt"/>

    <!--Exclude third party code.-->
    <exclude-pattern>./web/themes/custom/mungo/assets/*</exclude-pattern>
    <exclude-pattern>./web/themes/custom/mungo/assets_src/js/contrib/*</exclude-pattern>
</ruleset>
