parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\TypedData\\\\TypedDataInterface\\:\\:\\$value\\.$#"
			count: 2
			path: web/modules/custom/dds_badge/dds_badge.module

		-
			message: """
				#^PHPDoc tag @param has invalid value \\(\\$volunteerJobsTid
				  Taxonomy id of the volunteer job term\\.\\)\\: Unexpected token "\\$volunteerJobsTid", expected type at offset 135$#
			"""
			count: 1
			path: web/modules/custom/dds_jobposting/src/Controller/JobPostingController.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$field_2col_column_size\\.$#"
			count: 1
			path: web/modules/custom/dds_layout/dds_layout.module

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:hasField\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/dds_layout/dds_layout.module

		-
			message: "#^Call to method getType\\(\\) on an unknown class Paragraph\\.$#"
			count: 2
			path: web/modules/custom/dds_layout/dds_layout.module

		-
			message: "#^PHPDoc tag @var for variable \\$paragraph contains unknown class Paragraph\\.$#"
			count: 1
			path: web/modules/custom/dds_layout/dds_layout.module

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: web/modules/custom/dds_layout/src/Form/MungoInspirationPrerender.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
			count: 2
			path: web/modules/custom/dds_link/dds_link.module

		-
			message: "#^Function dds_metatag_video_thumb_from_main_media\\(\\) should return string but returns false\\.$#"
			count: 1
			path: web/modules/custom/dds_metatag/dds_metatag.module

		-
			message: "#^Function dds_metatag_video_thumb_from_main_media\\(\\) should return string but returns null\\.$#"
			count: 1
			path: web/modules/custom/dds_metatag/dds_metatag.module

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: web/modules/custom/dds_metatag/dds_metatag.module

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: web/modules/custom/dds_metatag/dds_metatag.module

		-
			message: "#^Variable \\$main_media in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: web/modules/custom/dds_metatag/dds_metatag.module

		-
			message: "#^Variable \\$media in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: web/modules/custom/dds_metatag/dds_metatag.module

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\TypedData\\\\TypedDataInterface\\:\\:\\$entity\\.$#"
			count: 1
			path: web/modules/custom/dds_person/dds_person.module

		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/dds_tracking/dds_tracking.module

		-
			message: "#^Call to an undefined method DOMNode\\:\\:removeAttribute\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/dds_tracking/dds_tracking.module

		-
			message: "#^Call to an undefined method DOMNode\\:\\:setAttribute\\(\\)\\.$#"
			count: 4
			path: web/modules/custom/dds_tracking/dds_tracking.module

		-
			message: "#^Function dds_tracking_providers\\(\\) never returns string so it can be removed from the return type\\.$#"
			count: 1
			path: web/modules/custom/dds_tracking/dds_tracking.module

		-
			message: "#^Function dds_tracking_providers\\(\\) should return array\\<string\\>\\|string but returns array\\<string, array\\<string, Drupal\\\\Core\\\\StringTranslation\\\\TranslatableMarkup\\|string\\>\\>\\.$#"
			count: 1
			path: web/modules/custom/dds_tracking/dds_tracking.module

		-
			message: "#^Call to deprecated constant FILE_STATUS_PERMANENT\\: Deprecated in drupal\\:9\\.3\\.0 and is removed from drupal\\:10\\.0\\.0\\. Use \\\\Drupal\\\\file\\\\FileInterface\\:\\:STATUS_PERMANENT or \\\\Drupal\\\\file\\\\FileInterface\\:\\:setPermanent\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/dds_update/dds_update.install

		-
			message: "#^Parameter \\#2 \\$value of method Drupal\\\\Core\\\\Database\\\\Query\\\\ConditionInterface\\:\\:condition\\(\\) expects array\\|Drupal\\\\Core\\\\Database\\\\Query\\\\SelectInterface\\|string\\|null, int given\\.$#"
			count: 1
			path: web/modules/custom/dds_update/dds_update.install

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:get\\(\\)\\.$#"
			count: 1
			path: web/modules/custom/facets_views_block/facets_views_block.module

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$field_2col_column_size\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$field_image\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\TypedData\\\\TypedDataInterface\\:\\:\\$entity\\.$#"
			count: 2
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\TypedData\\\\TypedDataInterface\\:\\:\\$value\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Access to property \\$value on an unknown class OptionsProviderInterface\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Datetime\\\\DrupalDateTime\\:\\:getTimeStamp\\(\\)\\.$#"
			count: 2
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:hasField\\(\\)\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\TypedData\\\\TypedDataInterface\\:\\:get\\(\\)\\.$#"
			count: 2
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Call to method get\\(\\) on an unknown class Paragraph\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Call to method getFileUri\\(\\) on an unknown class File\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Call to method getPossibleOptions\\(\\) on an unknown class OptionsProviderInterface\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Class Drupal\\\\node\\\\Entity\\\\Node referenced with incorrect case\\: Drupal\\\\node\\\\entity\\\\Node\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Expression in empty\\(\\) is not falsy\\.$#"
			count: 2
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^PHPDoc tag @param for parameter \\$person with type Drupal\\\\taxonomy\\\\TermInterafce is not subtype of native type Drupal\\\\taxonomy\\\\TermInterface\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^PHPDoc tag @var for variable \\$field_item contains unknown class OptionsProviderInterface\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^PHPDoc tag @var for variable \\$image_file contains unknown class File\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^PHPDoc tag @var for variable \\$paragraph contains unknown class Paragraph\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Parameter \\#1 \\$person of function _mungo_preprocess_author_presentation expects Drupal\\\\taxonomy\\\\TermInterface, Drupal\\\\Core\\\\Entity\\\\EntityInterface given\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Parameter \\#1 \\$value of function _mungo_2col_size_option_to_text expects int, string given\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Parameter \\$person of function _mungo_preprocess_author_presentation\\(\\) has invalid type Drupal\\\\taxonomy\\\\TermInterafce\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Variable \\$main_media in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Variable \\$paragraph in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: web/themes/custom/mungo/mungo.theme

		-
			message: "#^Variable \\$file in PHPDoc tag @var does not match assigned variable \\$uploaded_files\\.$#"
			count: 1
			path: web/themes/custom/mungo/theme-settings.php

