{#
/**
 * @file
 * Theme for share-icons.
 */
#}

<ul class="share--icons">
    <li><a href="{{ facebook_link }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="{{ twitter_link }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="{{ forward_link }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-print" aria-hidden="true"></i></a></li>
</ul>
