@import "https://fonts.googleapis.com/css?family=Alfa+Slab+One|Enriqueta";

body {
  font-size: 16px;
  font-family: $std-font;
}

a {
  text-decoration: none;
}

// Article titles.
h1.page-title {
  @include article-heading;
}

.article-text {
  @include article-text;

  &.subtitle {
    @include article-subtitle;
  }
}

.capitalized-menu-item {
  font-size: 1em;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.font-picturetext {
  @include image-text;
}

.page-title {
  @include page-title;
}

/*  Base heading styles.
    ------------------------------------------------------- */
