// Basic styling related to media (images and video).

// Media-elements that should maximize their size relative to their parent.
.fluid-media {
  img {
    width: 100%;
    height: auto;
  }
}

// Styling of caption and bylines.
.media {
  .byline, .caption {
    // Prevent the caption to the left of the byline to get to close if it
    // wraps.

    padding-bottom: $spacing-small;
    padding-top: $spacing-small;

    @include image-text;
  }
  .byline {

    .byline--label {
      &:after {
        content: ':';
      }
    }
    color: $warm-grey;

    float: right;
    // Inject some spacing to the first line of the caption to the left of this
    // field.
    padding-left: $spacing-small;
  }
}
// Act like bootstrap container but stay at 1600px instead of 1170.
// This is used to contain images that should be wider than large breakpoint.
.full-width-image-container {
  @extend .fluid-media;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  width: auto;
  img {
    object-fit: cover;
    background-color: #000;

    // Herobanner.
    height: 480px;
    @include media-small {
      height: 410px;
    }
    @include media-medium {
      height: 480px;
    }
    @include media-large {
      height: 560px;
    }
  }
  &.narrow {
    img {
      // Section page.
      height: 280px;
      @include media-small {
        height: 330px;
      }
      @include media-medium {
        height: 330px;
      }
      @include media-large {
        height: 386px;
      }
    }
  }

}
