@media print {
  // Remove general elements.
  .no-printing {
    display: none;
  }
  // Reset width of site content main container.
  .print-full-width {
    width: auto;
  }
  // Reset excess margin used for fixed-header.
  html body .layout-container {
    padding-top: 0;
  }

  .node__content {
    .dds-gallery__print {
      visibility: visible;

      img {
        margin: $spacing-small 0;
      }
    }
    .dds-gallery {
      visibility: hidden;
      height: 0;
    }

  }
}
