.page-type-universe:not(.page-node-type-article) {
  background-color: $track-light-green;
  background-image: url("#{$track-images}/noise.svg");
  background-size: 40%;
}

.page-type-universe {
  @include header-with-bg($targetSelector: page-title);
  @include topic-track($targetSelector: node--keyword);
}
