.page-type-universe:not(.page-node-type-article, .page-node-type-event) {
  background-color: $track-light-green;
  background-image: url("#{$track-images}/noise.svg");
  background-size: 40%;
}

.page-type-universe {
  @include header-with-bg($targetSelector: page-title);
  @include topic-track($targetSelector: node--keyword);

  .block-local-tasks-block {
    background-color: $track-blue;

    .is-active {
      background-color: $track-light-green;
      color: $track-blue;
    }

    a {
      color: $track-light-green;

      &:hover {
        background-color: $track-green;
        color: $track-blue;
      }
    }
  }
}

@keyframes rotateToLeft {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateToRight {
  100% {
    transform: rotate(360deg);
  }
}
