// When we're in a universe context.
.page-type-universe {
  --header-background-color: #{$track-light-green};
  --menu-item--active: #{$menu-item-track--active};
  --menu-item: #{$track-blue};
  --overlay-color: #{$overlay-color-track};

  .header-fixed {
    .track-logo img {
      width: 160px;
    }
  }
}
