// When we're in a universe context.
.page-type-universe {
  --header-background-color: #{$track-light-green};
  --menu-item--active: #{$track-menu-item--active};
  --menu-item: #{$track-blue};
  --overlay-color: #{$track-overlay-color};
  --search-form-block-background-color: #{$track-search-form-block-background-color};

  .header-fixed {
    .track-logo img {
      width: 160px;
    }
  }
}
