@mixin header-with-bg($targetSelector) {
  .#{$targetSelector} {
    font-family: $font-anton;
    text-transform: uppercase;
    color: $track-light-green;
    position: relative;

    // If the target is page-title, this is in a article context. Push the title further away from the tag
    // (node-keyword).
    @if ($targetSelector == "page-title") {
      margin-top: 35px;

      @include media-small {
        margin-top: 50px;
      }
    }

    > * {
      color: $track-light-green;
      padding: 0 0.2em;
      background-color: $track-blue;
      box-decoration-break: clone;
    }
  }
}

@mixin topic-track($targetSelector) {
  .#{$targetSelector},
  .#{$targetSelector} a {
    color: #fff;
  }

  .#{$targetSelector} {
    width: max-content;
    background-color: $track-green;
    padding: 0.5em;
  }
}

@mixin rotate-to-left {
  @media (prefers-reduced-motion: no-preference) {
    animation: rotateToLeft $track-star-animation-settings;
    transform-origin: center;
  }
}

@mixin rotate-to-right {
  @media (prefers-reduced-motion: no-preference) {
    animation: rotateToRight $track-star-animation-settings;
    transform-origin: center;
  }
}
