.page-type-universe {
  .paragraph--type--embed {
    background-color: $track-blue;

    .embed-title {
      color: #fff;
      font-family: $font-anton;
      text-transform: uppercase;
    }
  }
}
