$track-star-width-small: 70px;
$track-star-height-small: $track-star-width-small;
$track-star-width-large: 100px;
$track-star-height-large: $track-star-width-large;
$track-star-animation-settings: 10s linear infinite;
$track-section-page-hero-view-mode-max-width: 949px;
