$track-blue: #332670;
$track-green: #00b687;
$track-light-green: #70f0bd;
$track-page-background-color: $track-light-green;

$track-colors: (
  "skills": #cd9ad9,
  "patruljeliv": $track-green,
  "arrangementer": #f0dc2f,
  "adventurespejd": $bluish,
);
