@use "sass:color";

$green: green;

/* Styleguide colors */
$medium-pink: #ea636f;
$dull-yellow: #e9ec5f;
$marine-blue: #036;
$marine-lighter-blue: #0f4172;
$bluish-light: #6ebccd;
$bluish: #2c98b7;
$light-navy: #146e88;

$black: black;
$black-medium: #4a4a4a;
$black-light: #343434;
// TODO: needed for quote - no actual naming in the style-guide.
$light-black: #4a4a4a;
$warm-grey: #7c7c7c;
$pale-grey: #e6e7ea;
$pinkish-grey: #cbcbcb;
$white-two: #f5f5f5;
$white-one: #fff;

$sand: #d3c5a6;
$sand--75: #ded3bc;
$sand--50: #e9e2d3;
$sand--25: #f4f1e9;
$sand--10: #fbf9f6;

$grey: #7a878b;

$purple: #7554a2;

$link--active: $light-navy;

// Define as css variables so they're easy to
// override in the track universe context.
:root {
  --header-background-color: #{$white-one};
  --menu-item--active: #{$light-navy};
  --menu-item: #{$marine-blue};
  --overlay-color: #{color.adjust($sand, $alpha: -0.3)};
  --search-form-block-background-color: #{$sand--25};
}
