// Proxima Nova is provided by TypeKit.
$std-font: "proxima-nova", sans-serif;
// Provided by Google Fonts.
$feature-font: "Alfa Slab One", cursive;
$read-font: "Enriqueta", serif;
$modern-font: "Montserrat", sans-serif;
$manrope-font: "Manrope", sans-serif;

$form-font-size: 13px;
$icon-font-size: 20px;
$std-font-size: 13px;

$spacing-small: 10px;
$spacing-small-plus: 15px;
$spacing-medium: 20px;
$spacing-medium-plus: 25px;
$spacing-large: 30px;
$spacing-large-plus: 45px;
$spacing-xlarge: 60px;
$spacing-input-submit: 16px 35px;
$spacing-input: 8px 12px;

$admin-tool-bar-height: 39px;

// Header height and spacing.
$header-height: 82px;
$header-spacing-x--desktop: $spacing-large;
$header-spacing-x--mobile: $spacing-small-plus;
$header-spacing-y: $spacing-small-plus;

// Menu that is rendered as a drop-down on mobile. Eg. see grouping-menu.
$dropdown-menu-size: 350px;

$shortcut-link-padding-left: 10px;

// Icon IDs based on font-awesome.
// https://fontawesome.com/icons?d=gallery&q=down
$icon__arrow-up: "\f077";
$icon__arrow-down: "\f078";

// Burger menu.
$burger-menu-width: 420px;
$burger-menu-animation-timing: 0.5s;
