// Proxima Nova is provided by TypeKit.
$std-font: "proxima-nova", sans-serif;
// Provided by Google Fonts.
$feature-font: "Alfa Slab One", cursive;
$read-font: "Enriqueta", serif;

$form-font-size: 13px;
$icon-font-size: 20px;
$std-font-size: 13px;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
$spacing-xlarge: 60px;
$spacing-input-submit: 16px 35px;
$spacing-input: 8px 12px;

// Menu that is rendered as a drop-down on mobile. Eg. see grouping-menu.
$dropdown-menu-size: 350px;

$shortcut-link-padding-left: 10px;

// Icon IDs based on font-awesome.
// https://fontawesome.com/icons?d=gallery&q=down
$icon__arrow-up: "\f077";
$icon__arrow-down: "\f078";
