.video-embed-field-responsive-video {
  display: flex;
}

.video-embed-container {
  width: 100%;

  &.node-teaser {
    display: block;
  }

  .node-teaser--content-container {
    background: $white-one;
  }
}

.video-embed-iframe-container {
  display: block;
  aspect-ratio: 16/9;
  position: relative;
}
