@mixin cookiebot-styling {
  display: flex;
  text-align: center;
  border: 2px dashed #337ab7;
  background-color: transparent;
  color: #337ab7;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 3rem; // This value is the same as the one in the cookiebot contrib module.
}

.cookieconsent-optout {
  &__all,
  &__video,
  &-marketing {
    @include cookiebot-styling;
  }
}

[class*="cookieconsent-optout-"] {
  @include cookiebot-styling;

  a {
    width: 100%;
    display: block;
  }
}

// There is a general hack for checkboxes found in forms.scss.
// I don't want to mess with it, so instead I introduce an overwrite
// specifically for the cookiebot dialog.
#CybotCookiebotDialog input[type="checkbox"]:not(:checked),
#CybotCookiebotDialog input[type="checkbox"]:checked {
  position: inherit;
  left: 0;
}
