/*  Forms.
    ------------------------------------------------------- */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='time'] {
  display: block;
  width: 100%;
  height: 38px;
  padding: $spacing-input;
  margin-bottom: 10px;
  font-size: $form-font-size;
  line-height: 1.42857143;
  color: $bluish;
  vertical-align: middle;
  background-color: white;
  border: 1px solid $bluish;
  height: 50px;
  padding-left: 16px;
  float: left;
  font-size: 1.3em;
  width: 99%;
}

input[type='submit'] {
  @include appearance(none);
  border: none;
  text-shadow: none;
  background-color: $bluish;
  font-size: $form-font-size;
  text-decoration: none;
  display: inline-block;
  padding: $spacing-input-submit;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-align: center;
  color: white;

  &:hover {
    background-color: lighten($bluish, 10%);
  }
}

input[type="checkbox"] + label:before {
  content: '';
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
}

// Checkbox aspect.
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 18px; height: 18px;
  border: 1px solid $bluish;
  background: white;
  border-radius: 3px;
}

// Checked mark aspect
input[type="checkbox"]:checked + label:before {
  @extend .glyphicon;
  @extend .glyphicon-ok;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: $green;
}

// Disabled checkbox.
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: $warm-grey;
  background-color: $pale-grey;
}

// Base for label styling.
label {
  @include label();
}

.filters__title,
.label {
  @include label();
}

.form-checkbox,
.form-radio {
  margin: 5px 0;

  label {
    color: $bluish;
    display: inline;
    line-height: 1;
    vertical-align: middle;
  }
}

.form-item {
  display: inline-block;
  margin: 10px 0;
  width: 99%;
}
