// Montserrat as alternative to Proxima Nova for now.
// This is done in order to have same provider for all fonts. (Google Fonts)
$std-font: 'Montserrat', sans-serif;
$feature-font: 'Alfa Slab One', cursive;
$read-font: 'Enriqueta', serif;
