// Mixins for fonts from the zeplin styleguide.
// All mixins are labled with their name from the styleguide via a comment
// preceding the mixin.

/* Billedtext */
@mixin image-text {
  font-size: 11px;
  font-family: $std-font;
  color: black;

  @media (min-width: $screen-lg-min) {
    font-size: 13px;
  }
}

/* TODO: Currently named "Text Style" and "Text Style 2" in the styleguide */
@mixin content-link-label {
  font-size: 11px;
  font-weight: 600;
  font-family: $std-font;
  letter-spacing: 1.5px;
  color: $bluish;
  text-transform: uppercase;

  @include media-small {
    font-size: 17px;
  }
}

/* Listerubrik - small */
@mixin list-heading-small {
  font-family: $std-font;

  letter-spacing: 0.2px;
  color: $black;
  font-weight: bold;

  @include media-small {
    font-size: 18px;
  }
}

/* Quote */
@mixin quote-text {
  font-family: $feature-font;

  font-size: 17px;
  line-height: 1.65;
  letter-spacing: 0.8px;
  color: $light-black;
}

/* Blokoverskrift */
@mixin box-headline {
  font-family: $std-font;
  font-size: 15px;
  letter-spacing: 1.1px;

  font-weight: normal;

  color: $warm-grey;

  @include media-small {
    font-size: 18px;
  }

  @include media-medium {
    font-size: 22px;
  }
}
