$red: 'red';
$blue: 'blue';

$medium-pink: #ea636f;

$marine-blue: #003366;
$marine-lighter-blue: #0f4172;
$bluish: #2c98b7;

$black: black;
// TODO: needed for quote - no actual naming in the style-guide.
$light-black: #4a4a4a;
$warm-grey: #7c7c7c;
$pale-grey: #e6e7ea;
$pinkish-grey: #cbcbcb;
$white-two: #f5f5f5;
