// Proxima Nova is provided by TypeKit.
$std-font: "proxima-nova",sans-serif;
// Provided by Google Fonts.
$feature-font: 'Alfa Slab One', cursive;
$read-font: 'Enriqueta', serif;

$std-font-size: 13px;

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
$spacing-xlarge: 60px;
