{#
/**
 * @file
 * Displays a top image with various text.
 *
 * Available variables:
 * - title: Main title.
 * - subtile: Smaller sub-title.
 * - image: Image render array.
 *
 * @see template_preprocess_jamden_top_image()
 *
 */
#}
{% if image is not empty %}
  <div class="cover-image">
    <div class="full-width-image-container">
        {{ image }}
    </div>
    <div class="cover-image__image-overlay">
      <div>
        <div class="container">
          {% if title is not empty %}
            <div class="cover-image__title dymo-text">{{title}}</div>
          {% endif %}
          {% if subtitle is not empty %}
            <div class="cover-image__subtitle dymo-text">{{subtitle}}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
