// Styling of main-media used in an article

.main-media {
  @media (min-width: $screen-lg-min) {
    border-bottom: 1px solid $pale-grey;
  }

  // Clear space between the image and the next article element.
  margin-bottom: 10px;

  @include clearfix;
}

.main-media {

  .byline, .caption {
    // Prevent the caption to the left of the byline to get to close if it
    // wraps.

    padding-bottom: $spacing-small;
    padding-top: $spacing-small;

    @extend .font-picturetext;
  }
  .byline {

    .byline--label {
      &:after {
        content: ':';
      }
    }

    float: right;
    // Inject some spacing to the first line of the caption to the left of this
    // field.
    padding-left: $spacing-small;
  }
}
