// Styling of main-media used in an article

.main-media {
  border-bottom: 1px solid grey;
  @include clearfix;
}

.main-media {
  .caption, .byline {
  }
}


.main-media {
  .byline {
    float: right;
    // Prevent the caption to the left of the byline to get to close if it
    // wraps.
    padding-bottom: 1em;

    // Inject some spacing to the first line of the caption to the left of this
    // field.
    padding-left: 2em;
  }
}
