.menu--dropdown {
  .menu-item--expanded ul {
    display: none;
  }
}

// Must be set directly on UL or OL.
.menu--clean {
  &, li {
    margin: 0;
    list-style: none;
    padding: 0;
  }
}
// Must be set directly on LI.
.menu--arrow-item {
  &:before {
    content: "\2192";
  }
}

.menu--inline {
  // Spacing should be large, but only half of it pr element.
  $halfsize: $spacing-large / 2;
  &.menu--clean {
    // Subtract the added spacing on the container.
    margin: 0 (-$halfsize);
    li {
      display: inline-block;
      margin: 0 $halfsize;
      vertical-align: top;

      li {
        display: block;
      }
    }
  }
}
