.menu--dropdown {
  .menu-item--expanded ul {
    display: none;
  }
}

.menu--clean {
  li {
    padding: 0;
  }
}

.menu--inline {

  // Spacing should be large, but only half of it pr element.
  $halfsize: $spacing-large / 2;
  &.menu--clean {
    // Subtract the added spacing on the container.
    margin: 0 (-$halfsize);
    li {
      display: inline-block;
      margin: 0 $halfsize;
      vertical-align: top;

      li {
        display: block;
      }
    }
  }
}

.menu--capitalize-first-level {
   li {
    text-transform: uppercase;
     li {
       text-transform: none;
     }
  }
}
