// Magical values to push content down. This must adjusted if the fixed menu
// changes.
body .layout-container {
  padding-top: $header-height;
}

header.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

  .region-top-menu {
    // Hide the top menu on mobile. Show from tablet and up.
    display: none;
    font-size: $std-font-size;

    @include media-small {
      display: block;
    }
    height: 30px;

    .container {
      // Centre menu vertically, visually.
      padding-top: 8px;
    }
  }

  .region-primary-menu {
    .header-controls {
      z-index: 6;
      position: relative;
      background-color: var(--header-background-color);

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 $element-spacing-x-mobile;
      height: $header-height;

      @include media-burger-menu-large {
        padding: 0 $element-spacing-x-desktop;
      }
    }

    .site-logo--container img {
      width: 122px;
      height: 50px;
    }

    .header__burger {
      display: flex;
      align-items: center;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      padding: 0;

      // On mobile the text is not hidden but
      // we still want the text to be visible for screen-readers.
      font-size: 0;
      @include media-small {
        @include menu-item--small();
      }

      // Change burger text depending on open/close state.
      .header__burger-close-text {
        display: none;
      }

      .has-open-burger-menu & {
        .header__burger-open-text {
          display: none;
        }

        .header__burger-close-text {
          display: inline;
        }
      }

      .burger-icon {
        width: 30px;
        height: 30px;
        // Spacing between text and icon.
        margin-left: 7px;
      }

      @extend %burger-menu__menu-item-states;
    }
  }
}
