.section-header {
  position: relative;

  .image-overlay {
    position: absolute;
    bottom: $spacing-xlarge;
    left: 0;
    right: 0;
  }

  .field--name-title {
    @include feature-heading-medium;
    margin-bottom: $spacing-small;
  }
}
