// Styling for view-pages

// Add top and bottom spacing to be separated from the pages head/foot.
.view-page {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;

  @include media-small {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
}
