// General layout and styling for articles.
.page-node-type-article {
  // Author, share-links etc
  .node__meta {
    // Sourround the meta-area with borders on mobile.
    border-top: 1px solid $pale-grey;
    border-bottom: 1px solid $pale-grey;

    display: flex;
    align-items: center;

    @include media-medium {
      border: none;
      display: block;
    }
  }
}




.node-teaser {
  &:hover {
    text-decoration: none;
  }
  background-color: #fff;
  display: block;

  .main-media {
    margin: 0;
    border: 0 none;
  }
  // Indent content that is not image.
  &--content-container {
    color: #000;
    padding: $spacing-medium;
  }

  // Fields.
  &--heading {
    @include list-heading-medium;
  }
  &--keyword {
    @include pre-title;
  }
  &--read-more {
    @include blue-arrowed-read-more;
  }
}
