// General layout and styling for articles.
.page-node-type-article {
  // Author, share-links etc
  .node__meta {
    // Sourround the meta-area with borders on mobile.
    border-top: 1px solid $pale-grey;
    border-bottom: 1px solid $pale-grey;

    display: flex;
    align-items: center;

    @include media-medium {
      border: none;
      display: block;
    }
  }
}


.node--view-mode-teaser {
  background-color: #fff;
  display: block;
  position: relative;

  .content-container {
    color: #000;
    padding: $spacing-medium;
  }

  .content-container h2 {
    @include list-heading-medium;
  }
}
