/*  General layout and styling for articles.
    ------------------------------------------------------- */
.page-node-type-article {

  background-color: white;

  // Author, share-links etc
  .node__meta {
    // Sourround the meta-area with borders on mobile.
    border-top: 1px solid $pale-grey;
    border-bottom: 1px solid $pale-grey;

    display: flex;
    align-items: center;

    @include media-medium {
      border: none;
      display: block;
    }
  }
}

/*  Default teaser.
    ------------------------------------------------------- */
.node-teaser {
  transition: all 0.3s;
  border-bottom: 5px solid #fff;
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid $bluish;
    img {
      @include filter(brightness(80%));
    }

  }
  background-color: #fff;
  display: block;

  .main-media {
    margin: 0;
    border: 0 none;
  }
  // Indent content that is not image.
  &--content-container {
    color: #000;
    padding: $spacing-medium;
  }

  // Fields.
  &--heading {
    @include list-heading-medium;
  }
  &--keyword {
    @include pre-title;
  }
  &--read-more {
    @include blue-arrowed-read-more;
  }
}

.four-cols-deck .node-teaser--heading {
  // default
}
.three-cols-deck .node-teaser--heading {
  @include list-heading-large;
}

/*  List teaser variant.
    ------------------------------------------------------- */
.node-teaser--list {
  // Adapt to the parent background.
  background-color: transparent;
  border-top: 1px solid $pinkish-grey;

  // Override default teaser bottom.
  border-bottom: none;
  padding: 20px 0;
  width: calc(100% - 10px);

  @include media-small {
    width: calc(50% - 10px);
  }

  @include media-medium {
    width: calc(100% - 10px);
  }

  // Override hover state on teaser.
  &:hover {
    border-bottom: none;
    box-shadow: none;
    border-left: 5px solid $bluish;
  }

  // Fields.
  &--heading {
    @include list-heading-small;

    // Override of the font-size. Accoding to the
    // 11px on mobile and 14ox on tablet and desktop.
    font-size: 11px;

    @include media-small {
      font-size: 14px;
    }

    margin: 5px 0;
  }

  &--main-media {
    width: calc-percentage(3, 12);
    display: inline-block;
    float: left;

    @include media-medium {
      width: calc-percentage(4, 12);
    }
  }

  &--meta {
    width: calc-percentage(9, 12);
    display: inline-block;
    padding-left: 15px;

    @include media-small {
      width: calc-percentage(8, 12);
    }

    // If there is no image, we will render the meta data
    // in full width.
    .no-image & {
      width: 100%;
      padding-left: 0px;
    }
  }
}

.field--name-field-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

// TODO (ts) - should this be here ?
.paragraph--type--block {
  background-color: $white-two;
  display: inline-block;
  padding: 20px 10px;
}

.field--name-field-content-list-title {
  @include box-headline;
  margin-bottom: 15px;
  // This ignore the title in flexbox layout.
  flex: 0 0 100%;
  padding-left: 10px;
}

/*  Sidebar deck globally.
    ------------------------------------------------------- */
.article__sidebar {
  margin-top: 30px;
}
