.menu--social-links {
  a {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 $spacing-medium;
  }
}

/**
 * Set icons.
 */
.menu--social-links {
  a {
    font-size: 0;
    background: url('../images/placeholder.svg');
    background-size: cover;
  }
  a[href*='facebook'] {
    background: url('../images/Ikoner_DDS_DK_ikon_Facebook_hvid.svg');
  }
  a[href*='youtube'] {
    background: url('../images/Ikoner_DDS_DK_ikon_youtube_hvid.svg');
  }
  a[href*='twitter'] {
    background: url('../images/Ikoner_DDS_DK_ikon_twitter_hvid.svg');
  }
  a[href*='instagram'] {
    background: url('../images/Ikoner_DDS_DK_ikon_instagram_hvid.svg');
  }
}
