
.footer_top {
  .menu--footer li {
    padding-bottom: $spacing-medium;
  }
}
.layout-container > footer {
  overflow: hidden;
}

// Three image.
.footer_bottom {
  .container {
    position: relative;
    &:after {
      @include media-small {
        content: '';
        background: url('../images/footer_tree_dummy_ikon.svg');
        background-repeat: no-repeat;
        background-position: 0 5px;
        height: 261px;
        width: 279px;
        display: block;
        position: absolute;
        right: -100px;
        bottom: 0;
      }
    }
  }
}


.men--social-links {

  padding: 0;
  padding-top: $spacing-small;
  @include inline-menu;
}
.region-footer-social {
  padding: $spacing-large 0;
  // Set relative in order to position graphics used in footer.

}

.menu--footer {
  ul {
    padding: 0;
  }
  li {
    list-style: none;

  }
}
