
.footer_top {
  .menu--footer li {
    padding-bottom: $spacing-medium;
  }
}

.footer_bottom {
  padding: $spacing-large 0;
}


.menu--social-links {
  // Ensure that the social menu is ontop of footer graphics.
  position: relative;
  z-index: 1;
  padding: 0;
  padding-top: $spacing-small;
  @include inline-menu;
}
.region-footer-social {
  // Set relative in order to position graphics used in footer.
  position: relative;
  &:after {
    content: '';
    background: url('../images/placeholder--trees.svg');
    height: 160px;
    width: 160px;
    display: block;
    position: absolute;
    right: 0;
    bottom: -$spacing-large;
  }
}

.menu--footer {
  ul {
    padding: 0;
  }
  li {
    list-style: none;

  }
}
