/*
 * General layout classes.
 * --------------------------------------------------
 */

/*  Row with equal height columns.
    ------------------------------------------------------- */
.row-eq-height {
  display: flex;
}

/*  Divider between columns.
    ------------------------------------------------------- */
.col-divider {
  margin-top: 40px;
  margin-bottom: 20px;
  height:1px;
  width:100%;
  border-bottom: 1px solid $pinkish-grey;
}
