/**
  * Contains theming of styling of sidedeck specific elements.
  */

/* Shortcut specific behaviours in sidedeck.
    ------------------------------------------------------- */
.article__sidebar {
  .paragraph--type--shortcuts {
    background-color: $white-two;

    @include media-small {
      padding: 35px 15px 55px;
    }

    @include media-large {
      padding: 10px;
    }
  }

  .field--name-field-shortcuts-title {
    margin-left: 5px;
  }

  .node-teaser--download {
    // Providing an inner wrapper in order to apply padding before making
    // columns.
    > .inner {
      @include clearfix;
      background-color: $white-two;
      padding: 20px;
    }
    // Padding for mobile.
    padding: 0 0 30px 0;
    // Tablet padding reset.
    @include media-small {
      padding: 0 15px;
      margin-bottom: 30px;
    }
    // Desktop padding reset.
    @include media-medium {
      padding: 0 !important;
    }

    &--icon {
      .spejder-icon-wrapper {
        max-width: 40px;
        margin: 0;
      }
    }

    @include media-small {
      @include make-sm-column(6);
    }

    @include media-medium {
      width: 100%;
    }
  }
}
