 /**
  * Contains theming of styling of sidedeck specific elements.
  */

 /* Shortcut specific behaviours in sidedeck.
    ------------------------------------------------------- */
.article__sidebar {

  .paragraph--type--shortcuts {
    background-color: $white-two;

    @include media-small {
      padding: 35px 15px 55px;
    }

    @include media-large {
      padding: 10px;
    }
  }

  .shortcuts__links {
    @include media-small {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 10px;
    }

    @include media-large {
      display: inline-block;
    }
  }

  .shortcuts__link-item {

    @include media-small {
      margin-left: -5px;
      width: calc(50% - 10px);

      // Overide border behaviour on tablet.
      border-top: none;
      border-bottom: 1px solid $pinkish-grey;

      &:nth-child(1),
      &:nth-child(2) {
        border-top: 1px solid $pinkish-grey;
      }
    }

    // On Desktop we go 100% again.
    @include media-medium {
      width: 100%;

      // Reset.
      border-top: 1px solid $pinkish-grey;
      border-bottom: none;
    }
  }

  .field--name-field-shortcuts-title {
    margin-left: 5px;
  }

  .node-teaser--download {
    background-color: $white-two;

    &--icon {
      .spejder-icon-wrapper {
        max-width: 40px;
        margin: 0;
      }
    }

    @include media-small {
      @include make-sm-column(6);
    }

    @include media-medium {
      width: 100%;
    }
  }
}
