@import 'https://fonts.googleapis.com/css?family=Alfa+Slab+One|Enriqueta|Montserrat';

body {
  font-size: 13px;
  font-family: $std-font;
}

a {
  text-decoration: none;
}

// Article titles.
h1.page-title {
  font-size: 46px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
}

.article-text {
  line-height: 2;

  &.subtitle {
    font-weight: bold;
  }
}
