<html>
  <head>
    <style type="text/css">
      body {
        font-family: "Proxima Nova","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
      }
    </style>
  </head>
  <body>
    <table width="600" cellspacing="0" cellpadding="10" border="0">
      <tbody>
        <tr>
          <td>
            {% if header %}
              <div class="header">{{ header }}</div>
              <br>
            {% endif %}
            {% if message %}
              {{ breakpoint() }}
              <div class="message">{{ message|raw }}</div>
            {% endif %}
            <div class="content">{{ content }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
