.block-local-tasks-container {
  position: relative;
  z-index: 1;
  > div {
    ul {
      margin: 0;
      li {
        margin: 0;
        a {
          padding: 10px 20px;
        }
      }
    }

    background-color: $marine-blue;
    color: #fff;
    top: 15px;
    right: 15px;
    position: absolute;
  }
}
