/*  Paragraph block specific styles.
    ------------------------------------------------------- */
.field--name-field-content-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.paragraph--view-mode--teaser-list {
  width: 100%;
  // Because of flexbox. IE somehow dosen't know that the parent container was
  // 100% of it's parent but maybe 100% of window. :S
  > * {
    width: 100%;
  }
}

.field--name-field-content-list-title {
  @include box-headline;
  // This ignore the title in flexbox layout.
  flex: 0 0 100%;
  padding-left: 10px;
}

.field--name-field-sidedeck {
  .field--name-field-block {
    // Clear content list, so it will never float
    // up besides other content.
    clear: left;
    display: inline-block;

    // Add padding and margin around the content list.
    padding: 10px;
    background: $white-two;
    margin-bottom: 25px;

    @include media-small {
      padding: 35px 15px 55px;
    }

    @include media-large {
      padding: 10px;
    }
  }
}
