// Styling of a content link.
//
// A content link consists of an optional image a lead-text and the link itself.
.content-link {
  // Set border around paragraph.
  border-top: 1px solid $pale-grey;
  border-bottom: 1px solid $pale-grey;

  // Make sure we have plenty spacing between the border and our inner content.
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;

  // We're floating (optional) thumbnail - make sure our container conforms to
  // its size if it is there.
  @include clearfix;

  // We always take up the entire width of the text-area.
  clear: both;

  // An optional thumbnail of the content.
  .content-link--image {
    float: left;
    margin-right: $spacing-small;
    @include media-small {
      margin-right: $spacing-medium;
    }
  }

  // Lead text and label for the link.
  .content-link--text--lead {
    @include content-link-label;
    margin-bottom: $spacing-small;
  }

  .content-link--text--title {
    @include list-heading-small;
  }
}

// To make sure the text--title has big font if it stands alone since the text-lead is optional.
.content-link--text > div:first-of-type {
  text-transform: uppercase;
}

// Handle the situation where the content-link container is an a-tag.
a.content-link {
  // Should act as a block-element to be clickable and have a border.
  display: block;

  &:hover {
    // We don't want any hoverstate.
    text-decoration: none;
  }
}

// Styling only active if the show_as_button flag is set.
.content-link--button {
  .content-link--button-wrapper {
    border-radius: 35px;
    background: $bluish;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 200ms ease-in-out;

    svg {
      height: 17px;
    }

    @include media-small {
      width: fit-content;

      svg {
        height: 24px;
      }
    }

    &:hover {
      background: $marine-lighter-blue;
    }
  }

  .content-link--text--lead {
    margin-bottom: 0;
  }

  // To override the default text color so the text is visible on the button background.
  .content-link--text--lead,
  .content-link--text--title,
  .content-link--text > div:first-of-type {
    color: white;
  }
}
