/**
 * Download content type and teasers.
 */

/*  Node download list-teaser.
    ------------------------------------------------------- */
.node-teaser--heading--download {
  font-size: 18px;
  line-height: 1em;
  margin: 0 0 10px;
}

.node-teaser--download {
  padding: 15px 0;
  background-color: white;

  // Remove border.
  border: 0;

  // Dimensions.
  width: 100%;
  height: 100%;

  // Remove hover effetcs.
  &:hover {
    border: 0;
    box-shadow: none;
  }

  // We set this here because i should have the same behaviour cross
  // all devices.
  &--link {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $bluish;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &--icon {
    text-align: center;
    width: 100%;

    .spejder-icon-wrapper {
      max-width: 100%;
      width: 120px;
      margin: auto;
    }
  }

  &--download {
    float: left;
  }

  &--send-mail {
    float: right;
  }

  .node-teaser--content-container {
    width: 100%;
  }
}
