/* Handle inline-gallery */
.node__content .dds-gallery {
  // Ensure the image fills out the container.
  img {
    max-height: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    width: auto !important;
  }

  .dds-gallery__slider {
    // Add a grey frame around the gallery.
    position: relative;
    padding: 5px 15px 15px;
    background: #f6f6f6;

    // Overlay with right/left arrows for navigation.
    .flex-direction-nav {
      // Make sure we don't see bullets for our li's.
      list-style-type: none;
      position: absolute;
      left: 0;
      right: 0;
      // For now we position according to the entire container, in the future
      // we might consider positioning according to only the image and ignore
      // the caption below it as it can "pull" the arrows down quite a bit.
      top: 50%;
      margin-top: -32px;
      height: 52px;
      pointer-events: none;

      li a {
        // A lot of nuding to get the arrow in place in its container.
        position: absolute;
        width: 42px;
        height: 100%;
        overflow: hidden;
        background: rgb(0 0 0 / 50%);
        top: 0;
        text-decoration: none;
        pointer-events: auto;

        &:hover {
          background: rgb(0 0 0 / 80%);
        }

        &::before {
          display: inline-block;
          width: 42px;
          height: 52px;
          font-size: 30px;
          line-height: 52px;
          text-align: center;
          color: #fff;
        }

        &.flex-next {
          right: 0;
          border-radius: 5px 0 0 5px;

          &::before {
            // Right chevron.
            @include icon("\f054");
          }
        }

        &.flex-prev {
          left: 0;
          border-radius: 0 5px 5px 0;

          &::before {
            // Left chevron.
            @include icon("\f053");
          }
        }
      }
    }
  }
}
