.paragraph--type--hero-banner {
  position: relative;
  overflow: hidden;
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    // Vertically align middle.
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    // Theme the text bit of the banner.
    h2 {
      @include feature-heading-small;
      color: #fff;
    }
    .field--type-link {
      font-size: 0;

      margin: 0 100px;
      @include media-small {
        margin: 0 100px;
      }
      @include media-medium {
        margin: 0;
      }
      > * {
        display: inline-block;
        font-size: $font-size-base;
      }
      a {
        @include cta-button-transparent;
        // We need this fixed width to equal sized
        // buttons on tablet and mobile.
        width: 220px;
        margin: $spacing-small;
        @include media-small {
          margin: $spacing-large * 0.5;
        }
        @include media-medium {
          width: auto;
        }
      }
    }
  }

  img {
    transition: filter 0.5s;
    &.blured {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }
}
