.hero-banner {
  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-large;
    padding: 0 0 $spacing-large 0;

    @include media-medium {
      flex-direction: row-reverse;
      padding: $spacing-large 0;
    }
  }

  &__image-container {
    flex: 1;

    // Make the image go full viewport width on mobile.
    // Ignore side padding and margin.
    @include media-medium("max-width") {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text-container {
    flex: 1;
  }

  &__title {
    @include feature-heading-medium;
    color: $marine-blue;
    margin: 0;
  }

  &__search-form {
    --search-form-block-background-color: #{$white-one};
    margin-top: $spacing-medium;

    @include media-medium {
      margin-top: $spacing-large-plus;
    }
  }

  &__popular-search-words-label {
    @include hero-banner-label;
    margin-top: $spacing-small-plus;
    margin-bottom: 8px;
  }

  &__popular-search-words-list {
    // Disable default styling
    list-style-type: none;
    padding: 0;

    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @include media-medium {
      gap: $spacing-small;
    }
  }

  &__popular-search-words-list-item a {
    @include link;
  }
}
