// The paragraphs outer wrapper that gives it its background.
.paragraph--type--key-figures-wrapper {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;

  // Increased margin on larger screen-sizes.
  @include media-medium {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
}

// General theming of the key_figures paragraphs deck.
.paragraph--type--key-figures {
  // Assume that all deck colors goes with white text. Otherwise introduce
  // class to switch between black and white text.
  &,
  a {
    color: #fff;
    text-decoration: none;
  }

  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  div {
    text-align: center;
    display: block;
  }

  // The figure. Since fields are numbered in the end, they have different
  // classes. Therefore we select based on part of the class.
  div[class*="field-key-figures-figure"] {
    @include feature-heading-large;
    margin-bottom: $spacing-small;
    line-height: 1;
  }
  // Same basic idea with labels.
  div[class*="field-key-figures-label"] {
    @include list-heading-large;
    // Color is overridden in mixin.
    color: #fff;
    margin-bottom: $spacing-small;
  }
}
