// Must be set directly on UL or OL.
.menu--clean {
  &,
  li {
    margin: 0;
    list-style: none;
    padding: 0;
  }
}
// Must be set directly on LI.
.menu--arrow-item {
  &::before {
    content: "\2192";
  }
}

.menu--inline {
  @include media-small {
    // Spacing should be large, but only half of it pr element.
    $halfsize: $spacing-large * 0.5;

    &.menu--clean {
      // Subtract the added spacing on the container.
      margin: 0 (-$halfsize);

      li {
        display: inline-block;
        vertical-align: top;

        li {
          display: block;
        }
      }
    }
  }
}

// Place this on root-most element (eg body) when a modal is open.
// Currently serves to fix the background to prevent the body behind the menu
// from scrolling.
.is-modal-open {
  // Disabled until we find a better solution.
  //overflow: hidden;
  //position: fixed;
}
