/*  Shortcuts theming.
    ------------------------------------------------------- */
.shortcuts__links {
  // Remove list style.
  list-style: none;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: $spacing-small;
}

.shortcuts__link-item {
  width: 100%;

  &:not(:first-of-type) {
    padding-top: $spacing-small;
    border-top: $sand--50 1px solid;
  }
}

.shortcuts__link {
  @include link-arrow--medium;
  display: block;
  width: 100%;
}

/*  Paragraph specific theming.
    ------------------------------------------------------- */

// Global theming of the shortcuts paragraph.
.paragraph--type--shortcuts {
  box-sizing: border-box;
  border-radius: $border-radius--medium;

  // Force styling since the deck paragraph
  // will try to change background color and spacing.
  // Changing the deck rules will have effect
  // on other paragraphs, so we make an exception here.
  background: $sand--25 !important;
  padding: $spacing-medium !important;
}
