/**
 * @file
 * Contains styling regarding situation links.
 *
 */
.situation-links {
  background: $white-one;
  border-radius: $border-radius--medium;
  padding: $spacing-medium $spacing-medium $spacing-large $spacing-medium;

  // Make sure the links align
  // across the different situations cards.
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: $spacing-large;

  .spejder-icon-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    color: $white-one;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &.situation-links-color {
    &-red .spejder-icon-wrapper {
      background-color: $medium-pink;
    }

    &-yellow .spejder-icon-wrapper {
      background-color: $dull-yellow;
    }

    &-blue .spejder-icon-wrapper {
      background-color: $bluish;
    }

    &-dark-blue .spejder-icon-wrapper {
      background-color: $marine-blue;
    }

    &-grey .spejder-icon-wrapper {
      background-color: $pinkish-grey;
    }

    &-green .spejder-icon-wrapper {
      background-color: $green;
    }
  }

  .situation-links__main-link {
    flex: 30%;
    display: flex;
    align-items: center;
    gap: $spacing-small-plus;

    // To prevent text overflow.
    @include media-between-medium-large {
      flex-direction: column;
      align-items: unset;
    }

    &:active,
    &:focus,
    &:hover {
      // Also add active styling to the title.
      &,
      .situation-links__main-link-title {
        @extend %link-active--no-underline;
      }
    }
    @include focus-visible;
  }

  .situation-links__main-link-title {
    @include situation-links-heading;
    margin: 0;
  }

  .field--name-field-situation-links {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
  }

  .field--name-field-situation-links a {
    @include link-arrow--small;
  }
}
