/**
 * Theming of badge related view modes.
 */

/*  Node badge - view mode full.
    ------------------------------------------------------- */
.node--type-badge {
  &.node--view-mode-full {
    padding: 50px 0;
  }

  // Remove border from main media.
  .main-media {
    border: 0;
  }

  // Style all field labels this way.
  .field__label {
    @include list-heading-medium;
  }

  // Style target group items. Add commas if there a more than one item.
  .field--name-field-badge-target-group {
    margin: 5px 0 20px;

    .field__item {
      @include article-text;
      display: inline-block;
      margin-top: 5px;

      &:after {
        content: ",";
        margin-right: 2px;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }

      &:first-child {
        &:before {
          content: "";
        }
      }
    }
  }
}

.node--type-badge__title {
  @include list-heading-xlarge;
}

.field--name-field-badge-type {
  @include pre-title;
}

.field--name-field-badge-summary {
  @include article-text;
}

// Make items equal height with flexbox, and align them
// vertical center.
.node--type-badge__header {
  align-items: center;
  justify-content: center;
}

.node--type-badge__aside {
  &__inner {
    // Insert aside styling here.
  }
}

.article-wrapper {
  background-color: white;
}
