/**
 * Download content type and teasers.
 */

/*  Node download list-teaser.
    ------------------------------------------------------- */
.node-teaser--download {
  padding: 15px 0;
  background-color: $white-two;

  // Remove border.
  border: none;
  display: inline-block;

  // Dimensions.
  margin-bottom: 25px;
  width: 100%;

  // Remove hover effetcs.
  &:hover {
    border: none;
    box-shadow: none;
  }

  // We set this here because i should have the same behaviour cross
  // all devices.
  &--link {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $bluish;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &--icon {
    max-width: 100px;
    width: 100%;
    margin: 20px auto 0;

    &--list-teaser {
      width: 200px;
      max-width: 37px;
      margin-top: 0;
      padding: 0;

      @include media-small {
        margin-left: -13px;
      }
    }
  }

  &--send-mail {
    float: right;
  }

  @include media-small {
    @include make-sm-column(6);
  }

  @include media-medium {
    width: 100%;
  }
}

.node-teaser--heading--download {
  margin: 0 0 10px;

  // Cut heading so it keeps on 1 line.
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
