/*  Facets.
    ------------------------------------------------------- */
.js-facets-checkbox-links {
  list-style: none;
}

.facet-item__value {
  font-size: 16px;
}

.filters__body {
  padding: 10px 0;
}

.filters-exposed {
  margin-bottom: 20px;
}

.view-filters__inner {
  background-color: white;
  padding: 30px;
}

