/* Handle inline-gallery */
.node__content .gallery {
  ul {
    font-size: 0;
    @include inline-menu;
    margin: 0 -5px;
    list-style: none;
    padding: 0;
    li {
      padding: 5px;
      // The active element.
      img {
        opacity: .5;
      }
      &.active img {
        opacity: 1;
      }
      // The rows should contain different amount of elements based on device.
      width: 25%;
      @include media-small {
        width: 16.666%;
      }
      @include media-medium {
        width: 20%;
      }

      // This is only used when the active element is copied out from the UL.
      .byline, .caption {
        display: none;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
