// Styling of a menu consisting of call-to-action buttons

// Inline the individual links.
.large-button-menu--button {
  display: inline-block;
  text-align: center;
}

// Styling of a active button - we may have multiple.
// The active class can be set on the wrapper as well as the link itself.
.large-button-menu--button {
  a {
    @include cta-button-blue;
    margin-right: 15px;
    padding: 15px 35px;

    @include max-media-xsmall {
      padding: 10px 35px;
      min-width: 1px;
      margin-right: 5px;
      margin-bottom: 10px;
    }
  }

  &__active {
    a {
      @include cta-button-blue('active');
      margin-right: 15px;
      padding: 15px 35px;

      @include max-media-xsmall {
        padding: 10px 35px;
        min-width: 1px;
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
  }
}
