// Styling of a menu consisting of call-to-action buttons


// Inline the individual links.
.large-button-menu--button {
  display: inline-block;
  text-align: center;

  a {
    @include cta-button-blue;
    margin: $spacing-small;

    // Reduce margin on larger devices.
    @include media-small {
      margin: $spacing-large/2;
    }
  }
}

// If wrapped in a container, the first button should drop its left margin
// to be placed flush with the containers inner border.
.container > .large-button-menu__flush_left > .large-button-menu--button:first-child a {
  margin-left: 0;
}

// Styling of a active button - we may have multiple.
// The active class can be set on the wrapper as well as the link itself.
.large-button-menu--button__active a, a.large-button-menu--button__active{
    @include cta-button-blue('active');
}

