// Styling of main-media used in the top of an article.

.main-media {
  border-bottom: 1px solid $pale-grey;

  // Clear space between the image and the next article element.
  margin-bottom: 10px;

  @include clearfix;
}

.media {

  .byline, .caption {
    // Prevent the caption to the left of the byline to get to close if it
    // wraps.

    padding-bottom: $spacing-small;
    padding-top: $spacing-small;

    @include image-text;
  }
  .byline {

    .byline--label {
      &:after {
        content: ':';
      }
    }
    color: $warm-grey;

    float: right;
    // Inject some spacing to the first line of the caption to the left of this
    // field.
    padding-left: $spacing-small;
  }
}
