// General styling for paragraphs.

// General styling of a field that contain "article" paragraph types (text,
// video, factbox, quote etc.).
.field--name-field-paragraphs .paragraph {
  // Add spacing between paragraphs.
  // The individual paragraph-types has to opt out of this in their own
  // styling if they dont want it.
  margin-bottom: $spacing-small;
}

.paragraph-set-negative-margin {
  margin-top: -100px;
}

// Address spacing in between cols when row is wrapped on multiple lines.
.row--grid {
  $spacing : 15px;
  $halfspacing: $spacing/2;
  margin-top: -$halfspacing;
  margin-bottom: -$halfspacing;
  @include media-small {
    margin-top: -$spacing;
    margin-bottom: -$spacing;
  }
 & > * {
   padding-top: $halfspacing;
   padding-bottom: $halfspacing;
   @include media-small {
     padding-top: $spacing;
     padding-bottom: $spacing;
   }
 }
}
