$fa-font-path: "../fonts/font-awesome";
@import "font-awesome";


.share--icons {
  position: absolute;
  right: 0;
  top: 16px;
  @include media-medium {
    position: inherit;
    right: auto;
    top: auto;
  }
  margin: 0 -5px;
  margin-top: $spacing-small;

 li {
   display: inline-block;
   margin: 0 5px;
   a {
     color: $bluish;
   }
   i {
     font-size: $icon-font-size;
   }
 }

}
