/*  Shortcuts theming.
    ------------------------------------------------------- */
.shortcuts__links {
  // Remove list style.
  list-style: none;
  width: 100%;

  @include media-small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }

  @include media-large {
    display: inline-block;
  }
}

.shortcuts__link-item {
  // Layout.
  float: left;
  width: 100%;
  border-top: 1px solid $pinkish-grey;

  // Typography.
  &:hover {
    // The hover state should be activated on hover on the wrapper too.
    .shortcuts__link {
      color: $bluish-light;
    }
  }

  @include media-small {
    margin-left: -5px;
    width: calc(50% - 10px);

    // Overide border behaviour on tablet.
    border-top: none;
    border-bottom: 1px solid $pinkish-grey;

    &:nth-child(1),
    &:nth-child(2) {
      border-top: 1px solid $pinkish-grey;
    }
  }

  // On Desktop we go 100% again.
  @include media-medium {
    width: 100%;

    // Reset.
    border-top: 1px solid $pinkish-grey;
    border-bottom: none;
  }
}

.shortcuts__link {
  // Layout.
  display: inline-block;
  position: relative;
  // + 20px to leave space for the :before icon.
  padding: 15px 0 15px $shortcut-link-padding-left + 20px;
  width: 100%;

  // Typography.
  @include list-heading-small;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $bluish-light;
  }

  // Add icon to left.
  &:before {
    position: absolute;
    content: "\2192";
    top: auto;
    left: $shortcut-link-padding-left;
    color: $bluish-light;
  }
}

// Shortcuts title.
.field--name-field-shortcuts-title {
  @include box-headline;
  padding: $spacing-small 0;
}

 /*  Paragraph specific theming.
    ------------------------------------------------------- */

// Global theming of the shortcuts paragraph.
.paragraph--type--shortcuts {

  // Layout.
  padding: $spacing-small;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  height: 100%;

  // Colors.
  background: white;
}



