.marine-background {
  background-color: $marine-blue;

  &,
  a {
    color: #fff;
  }
}

.marine-lighter-background {
  background-color: $marine-lighter-blue;

  &,
  a {
    color: #fff;
  }
}

.white-background {
  background-color: #fff;

  &,
  a {
    color: #000;
  }
}

.paragraphs--deck-color--grey {
  background-color: $pale-grey;
}

.paragraphs--deck-color--white {
  background-color: #fff;
}
